@model CapStonePhase2.Models.Students_Lectures

@{
    ViewBag.Title = "Code Assignment";
}

<h2>@ViewBag.Title</h2>
<h3>@Html.DisplayFor(model => model.Lecture.Topic)</h3>

<div>
    <hr />
    @Html.DisplayFor(model => model.Lecture.CodeAssignment)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lecture.CodeExample)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lecture.CodeExample)
        </dd>
        <dt>
            You will need to implement these Methods in your program: 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MethodsToIncludeInCode)
        </dd>
        <dt>
            Create a Method by using this template.
            If you do not a void datatype, you will need to return a value by using the 'return' keyword at the end of your method.
        </dt>
        <dd>
            public datatype MethodName(){ }
        </dd>
    </dl>
</div>

@using (Html.BeginForm())
{
   <div class="CodeTextBox">
         @Html.TextAreaFor(model => model.CodeFileText, new { value = Model.CodeFileText })
   </div>
   @Html.HiddenFor(model => model.StudentId)
   @Html.HiddenFor(model => model.LectureId)
    <input type="submit" value="Submit" class="btn btn-primary" />
}
