@model CapStonePhase2.Models.Students_Lectures

@{
    ViewBag.Title = "Code Assignment";
}

<h2>@ViewBag.Title</h2>
<h3>@Html.DisplayFor(model => model.Lecture.Topic)</h3>

<div>
    <hr />
    @Html.DisplayFor(model => model.Lecture.CodeAssignment)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lecture.CodeExample)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lecture.CodeExample)
        </dd>
        <dd>
        </dd>
        <dt>
            Please Enter your code inside the Main method
        </dt>
    </dl>
</div>

@*@using (Html.BeginForm("CodeAssigned", "Lectures", FormMethod.Post, new { lectureId = Model.LectureId, studentId = Model.StudentId }))
{
   <div class="CodeTextBox">
         @Html.TextAreaFor(model=> model.StudentCode, new { name = "CodeText", value = Model. })
   </div>
    <input type="submit" value="Submit" class="btn btn-primary" />
}*@
