@model CapStonePhase2.Models.Students_Lectures

@{
    ViewBag.Title = "Code Assignment";
}

<h2>@ViewBag.Title</h2>
<h3>@Html.DisplayFor(model => model.Lecture.Topic)</h3>

<div>
    <hr />
    @Html.DisplayFor(model => model.Lecture.CodeAssignment)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lecture.CodeExample)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lecture.CodeExample)
        </dd>
        <dt>
            You will need to implement these Methods with their respective return types in your program: 
        </dt>
        <dd>
            @foreach (var item in Model.MethodsAndReturnValues)
            {
              @Html.DisplayFor(modelItem => item.MethodName) <p> Return Type: @Html.DisplayFor(modelItem => item.ReturnValueType)</p>
            }
        </dd>
    </dl>
</div>
<p>
    Inserted in the textbox is a generic example of what a method looks like.
</p>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StudentId)
    @Html.HiddenFor(model => model.LectureId)
   <div class="CodeTextBox">
         @Html.TextAreaFor(model => model.CodeFileText, new { value = Model.CodeFileText })
   </div>
    <input type="submit" value="Compile" class="btn btn-default" />
}
