@model CapStonePhase2.Models.Students_Lectures

@{
    ViewBag.Title = "Code Assignment";
}

<h2>@ViewBag.Title</h2>
<h3>@Html.DisplayFor(model => model.Lecture.Topic)</h3>

<div>
    <hr />
    @Html.DisplayFor(model => model.Lecture.CodeAssignment)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lecture.CodeExample)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lecture.CodeExample)
        </dd>

    </dl>
</div>


@using (Html.BeginForm("CodeAssignment", "Lectures", FormMethod.Post, new { enctype = "multipart/form-data", student = Model }))
{
    <input type="file" name="file" />
    <input type="submit" value="Upload" class="btn btn-primary" />
}
