@model CapStonePhase2.Models.Students_Lectures
@using System.CodeDom.Compiler;

@{
    ViewBag.Title = "Compiler Results";
}

<h2>@ViewBag.Title</h2>

<table class="table">
<tr>
    <th>
        You have @Model.NumberOfWarnings Warning(s)
    </th>
    <th></th>
</tr>

@if (Model.NumberOfWarnings != 0)
{
    foreach (CompilerError warning in Model.ListOfWarnings)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => warning.ErrorText) || Line: @Html.DisplayFor(modelItem => warning.Line)
            </td>
        </tr>
    }
}

    <tr>
        <th>
            You have @Model.NumberOfErrors Error(s)
        </th>
        <th></th>
    </tr>

@if (Model.NumberOfErrors == 0)
{
    <tr>
        <th>
            @Html.DisplayFor(model => model.CodeRewards)
        </th>

        <td>
            @Html.ActionLink("Go to Review Question", "ReviewQuestion", "Lectures", new { studentid = Model.StudentId, lectureid = Model.LectureId }) |
            @Html.ActionLink("Back to Lectures", "Lectures", "Students")
        </td>
    </tr>
}
else
{
    foreach (CompilerError error in Model.ListOfErrors)
    {
        if (error.IsWarning == false){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => error.ErrorText) || Line: @Html.DisplayFor(modelItem => error.Line)
            </td>
        </tr>
        }
    }
    <tr>
        <td>
            @Html.ActionLink("Return", "CodeAssignment", new { studentid = Model.StudentId, lectureid = Model.LectureId })
        </td>
    </tr>
}
</table>
