@model CapStonePhase2.Models.Lectures

@{
    ViewBag.Title = "Configure Methods & Return Values";
}

<h2>@ViewBag.Title</h2>
<h4>These Methods were found in the tests created</h4>
<h4>Please enter their respective return value for each method found</h4>


    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.Id)
        <div class="form-horizontal">
            <hr/>
               
                    <div class="form-group">
                        <div class="control-label col-md-2">
                            @* Display every method found in code file *@
                            @Html.DisplayFor(modelItem =>Model)
                        </div>
                        <div class="col-md-10">
                            @* Editor for Return Values *@
                            @Html.EditorFor(modelItem => Model, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Return Values" class="btn btn-default" />
            </div>
        </div>
    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}