@model CapStonePhase2.Models.Lectures

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lectures</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Topic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodeAssignment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeAssignment)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
