@model IEnumerable<CapStonePhase2.Models.Students_Lectures>
@using CapStonePhase2.CustomHelpers

@{
    ViewBag.Title = "Completed Courses";
}

<h2>@foreach (var item in Model)
{
    @Html.DisplayFor(modelItem => item.Student.FirstName)
    <i>  </i>
    @Html.DisplayFor(modelItem => item.Student.LastName)
    break;
}</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lecture.Topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompletedCourse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsShortAnswerCorrect)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCodeCorrect)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lecture.Topic)
            </td>
            <td>
                @Html.BoolToString(item.CompletedCourse)
            </td>
            <td>
                @Html.BoolToString(item.IsShortAnswerCorrect)
            </td>
            <td>
                @Html.BoolToString(item.IsCodeCorrect)
            </td>
            <td>
                @Html.ActionLink("Grade Short Answer", "GradeShortAnswer", "Instructors", new { studentid = item.StudentId, lectureid = item.LectureId }, null)
            </td>
        </tr>
    }

</table>