@model CapStonePhase2.Models.Students_Lectures

@{
    ViewBag.Title = Model.Student.FirstName + Model.Student.LastName;
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompletedCourse)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.StudentInLectures)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lecture.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedCourse)
            </td>

            @if (User.IsInRole("Instructor"))
            {
            <td>
                @Html.ActionLink("Grade Short Answer", "GradeShortAnswer", "Instructors", new { studentid = Model.StudentId, lectureid = Model.LectureId })
            </td>
            }
        </tr>
    }

</table>