@model IEnumerable<CapStonePhase2.Models.Students_Lectures>

@{
    ViewBag.Title = "Completed Courses";
}

<h2>@foreach (var item in Model)
{
    @Html.DisplayFor(modelItem => item.Student.FirstName) @Html.DisplayFor(modelItem => item.Student.LastName)
}</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompletedCourse)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lecture.Topic) |
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedCourse) |
            </td>

            <td>
                @Html.ActionLink("Grade Short Answer", "GradeShortAnswer", "Instructors", new { studentid = item.StudentId, lectureid = item.LectureId })
            </td>
        </tr>
    }

</table>