@model CapStonePhase2.Models.Students_Lectures
@using CapStonePhase2.CustomHelpers


@{
    ViewBag.Title = "Grade";
}

<h2>@Html.DisplayFor(model => model.Lecture.Topic)</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsShortAnswerCorrect)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCodeCorrect)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompletedCourse)
        </th>
        <th></th>
    </tr>
        <tr>
            <td>
                @Html.BoolToString(Model.IsShortAnswerCorrect)
            </td>
            <td>
                @Html.BoolToString(Model.IsCodeCorrect)
            </td>
            <td>
                @Html.BoolToString(Model.CompletedCourse)
            </td>
        </tr>

</table>